html
{
	height: 100%;
}

body
{
	padding: 0;
	margin: 0;	
	min-height: 100%;
	
	font-size: 1em;
}

#page
{
	display: flex;
	min-height: 100%;
	margin: auto;
}

#photo
{
	display: none;
}

/* ASIDE LISÉRER*/
#page aside
{
	min-width: 30%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffbf1e+0,ffbf1e+90,ffffff+98 */
	background: #ffbf1e; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffbf1e 0%, #ffbf1e 90%, #ffffff 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ffbf1e 0%,#ffbf1e 90%,#ffffff 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ffbf1e 0%,#ffbf1e 90%,#ffffff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf1e', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	color: #000000;
}

#page aside img
{
	width: 50%;
	border-radius: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#page aside h3
{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+90,ffffff+98 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(left,  #000000 0%, #000000 90%, #ffffff 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #000000 0%,#000000 90%,#ffffff 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #000000 0%,#000000 90%,#ffffff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	color: #FFBF1E;
	text-align: center;
	padding: 5px;
}

#page p.content
{
	margin-left: 15%;
	font-size: 1em;
}

#page aside .loisirs 
{
	text-align: center;
}

#page aside .loisirs img
{
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

#page aside .reseaux 
{
	text-align: center;
}

#page aside .reseaux img
{
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}


/* MAIN */
#page main
{
	width: 70%;
	min-height: 100%;
}





/*MAIN TITRE*/
#page main #titre
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#page main h1
{

	width: 50%;
	text-align: center;
	font-size: 2em;
}

#page main h1 #nom
{
	margin-right: 15%;
	color: black;
}

#page main h1 #prenom
{
	margin-left: 15%;
	color: #ffbf1e;
}






/*MAIN BLOCCV*/
#page main #bloccv
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}





/*MAIN BLOCCV SECTION(EXPERIENCES)*/
#page main #experiences
{
	min-width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#page main #experiences :hover
{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffbf1e+20,ffbf1e+50,ffbf1e+80,ffffff+98 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #ffbf1e 20%, #ffbf1e 50%, #ffbf1e 80%, #ffffff 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#ffbf1e 20%,#ffbf1e 50%,#ffbf1e 80%,#ffffff 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#ffbf1e 20%,#ffbf1e 50%,#ffbf1e 80%,#ffffff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

#page main #experiences .titreh3
{
	padding: 5px;
	color: #FFBF1E;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,000000+20,000000+50,000000+80,ffffff+98 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #000000 20%, #000000 50%, #000000 80%, #ffffff 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#000000 20%,#000000 50%,#000000 80%,#ffffff 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ffffff 0%,#000000 20%,#000000 50%,#000000 80%,#ffffff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

#page main #experiences .titreh3 :hover
{
	color: black;
}



/*EXP1*/
#page main section #exp1
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #exp1 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #exp1 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #exp1 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #exp1 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*EXP2*/
#page main section #exp2
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #exp2 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #exp2 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #exp2 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #exp2 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*EXP3*/
#page main section #exp3
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #exp3 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #exp3 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #exp3 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #exp3 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*EXP4*/
#page main section #exp4
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #exp4 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #exp4 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #exp4 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #exp4 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*EXP5*/
#page main section #exp5
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #exp5 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #exp5 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #exp5 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #exp5 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*EXP6*/
#page main section #exp6
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #exp6 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #exp6 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #exp6 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #exp6 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}





/* MAIN BLOCCV SECTION(FORMATIONS) */
#page main #formations
{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
}

#page main #formations :hover
{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffbf1e+20,ffbf1e+50,ffbf1e+80,ffffff+98 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #ffbf1e 20%, #ffbf1e 50%, #ffbf1e 80%, #ffffff 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#ffbf1e 20%,#ffbf1e 50%,#ffbf1e 80%,#ffffff 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#ffbf1e 20%,#ffbf1e 50%,#ffbf1e 80%,#ffffff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

#page main #formations .titreh3
{
	padding: 5px;
	color: #FFBF1E;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,000000+20,000000+50,000000+80,ffffff+98 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #000000 20%, #000000 50%, #000000 80%, #ffffff 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#000000 20%,#000000 50%,#000000 80%,#ffffff 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ffffff 0%,#000000 20%,#000000 50%,#000000 80%,#ffffff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

#page main #formations .titreh3 :hover
{
	color: black;
}

/*FORMATION1*/
#page main section #formation1
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #formation1 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #formation1 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #formation1 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #formation1 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*FORMATION2*/
#page main section #formation2
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #formation2 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #formation2 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #formation2 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #formation2 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*FORMATION3*/
#page main section #formation3
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #formation3 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #formation3 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #formation3 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #formation3 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*FORMATION4*/
#page main section #formation4
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #formation4 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #formation4 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #formation4 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #formation4 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*FORMATION5*/
#page main section #formation5
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #formation5 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #formation5 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #formation5 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #formation5 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

/*FORMATION6*/
#page main section #formation6
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 3px solid black;
	padding-bottom: 3%;
}

#page main section #formation6 .date
{
	width: 30%;
	margin-top: 0;
	height: 100%;
}

#page main section #formation6 .description
{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#page main section #formation6 .description .titreh4
{
	margin-top: 0;
	margin-bottom: 0;
}

#page main section #formation6 .description .titreh5
{
	margin-top: 0;
	margin-bottom: 0;
}

@media all and (max-width: 735px)
{
	#page
	{
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#lisere
	{
		display: none;
	}

	#bloccv
	{
		margin: auto;
		width: 80%;
	}

	#page main
	{
		width: 100%;
		min-height: 100%;
	}

	#page main h1
	{

		width: 50%;
		text-align: center;
		font-size: 1.8em;
	}

	#page main h2
	{
		font-size: 1.5em;
	}

	#page main #experiences .titreh3
	{
		font-size: 1.3em;
		text-transform: none;
	}

	#page main #formations .titreh3
	{
		font-size: 1.3em;
		text-transform: none;
	}

	body
	{
		font-size: 0.8em;
	}

	#page main section #exp1 .description
	{
		width: 50%;
	}

	#page main section #exp2 .description
	{
		width: 50%;
	}

	#page main section #exp3 .description
	{
		width: 50%;
	}

	#page main section #exp4 .description
	{
		width: 50%;
	}

	#page main section #exp5 .description
	{
		width: 50%;
	}

	#page main section #exp6 .description
	{
		width: 50%;
	}

	#page main section #formation1 .description
	{
		width: 50%;
	}

	#page main section #formation2 .description
	{
		width: 50%;
	}

	#page main section #formation3 .description
	{
		width: 50%;
	}

	#page main section #formation4 .description
	{
		width: 50%;
	}

	#page main section #formation5 .description
	{
		width: 50%;
	}

	#page main section #formation6 .description
	{
		width: 50%;
	}

	#page main #titre #nomphoto
	{
		
	}

	#photo
	{
		display: block;
		width: 100%;
		margin: 0;
	}

	#presentation
	{
		display: flex;
		flex-direction: row;
	}

	#page main h1
	{
		width: 100%;
		text-align: center;
	}

	#page main h2
	{
		width: 100%;
		text-align: center;
	}

	#page main img
	{
		width: 100%;
	}

	#page main #titre
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 85%;
	}
}