body
{
	padding: 0;
	margin: 0;	
}

#page
{
	display: flex;
}



/* ASIDE */
#page aside
{
	width: 30%;
	background-color: #ffbf1e;
	color: #000000;
}

#page aside img
{
	width: 50%;
	border-radius: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#page aside h3
{
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding: 5px;
}

#page p.content
{
	margin-left: 15%;
	font-size: 1em;
}

#page aside .fitness 
{
	text-align: center;
}

#page aside .fitness img
{
	width: 23%;
	display: inline-block;
	vertical-align: middle;
}

#page aside .reseaux 
{
	text-align: center;
}

#page aside .reseaux img
{
	width: 23%;
	display: inline-block;
	vertical-align: middle;
}


/* MAIN */
#page main
{
	width: 70%;
}

#page main h1
{
	margin-left: 10%;
}

#page main h1 div
{
	margin-left: 10%;
	color: #ffbf1e;
}

#page main h2
{
	margin-top: -1%;
	background-color: #ffbf1e;
}